apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: datawatch-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
{% if SSL_CERTIFICATE is defined and SSL_CERTIFICATE_KEY is defined %}
  tls:
   - hosts:
     - '{{ DATAWATCH_HOSTNAME }}'
     secretName: {{ DATAWATCH_TLS_SECRET_NAME }}
{% endif %}
  rules:
{% if SSL_CERTIFICATE is defined and SSL_CERTIFICATE_KEY is defined %}
  - host: '{{ DATAWATCH_HOSTNAME }}'
    http:
{% else %}
  - http:
{% endif %}
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: api
            port:
              number: 80
