apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: api
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      service: api
  template:
    metadata:
      labels:
        service: api
    spec:
      containers:
      - name: api
        env:
        - name: AUTHENTICATION_METHOD
          valueFrom:
            configMapKeyRef:
              key: AUTHENTICATION_METHOD
              name: api-env
        - name: KEYCLOAK_ID
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_ID
              name: api-env
        - name: KEYCLOAK_REDIRECT_URL
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_REDIRECT_URL
              name: api-env
        - name: KEYCLOAK_SECRET
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_SECRET
              name: api-env
        - name: KEYCLOAK_URL
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_URL
              name: api-env
{% if REGISTRY_PATH is defined %}
        image: {{ REGISTRY_PATH }}/api-service
{% else %}
        image: api-service
        imagePullPolicy: Never
{% endif %}
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: api
  name: api
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    service: api
status:
  loadBalancer: {}


