apiVersion: v1
data:
{% if AUTHENTICATION_METHOD is defined and AUTHENTICATION_METHOD == "keycloak" %}
  AUTHENTICATION_METHOD: {{ AUTHENTICATION_METHOD }}
  KEYCLOAK_ID: {{ KEYCLOAK_ID }}
  KEYCLOAK_SECRET: {{ KEYCLOAK_SECRET }}
  KEYCLOAK_REDIRECT_URL: {{ KEYCLOAK_REDIRECT_URL }}
  KEYCLOAK_URL: {{ KEYCLOAK_URL }}
{% else %}
  AUTHENTICATION_METHOD: ""
{% endif %}
kind: ConfigMap
metadata:
  name: api-env
