apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: email
  name: email-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: email
  template:
    metadata:
      labels:
        service: email
    spec:
      containers:
      - name: email-service
{% if REGISTRY_PATH is defined %}
        image: {{ REGISTRY_PATH }}/email-service
{% else %}
        image: email-service
        imagePullPolicy: Never
{% endif %}
