apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: monitor
  name: monitor-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: monitor
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: monitor
    spec:
      containers:
      - name: monitor-service
        env:
        - name: rmqHost
          valueFrom:
            configMapKeyRef:
              key: rmqHost
              name: monitor-env
        - name: rmqPort
          valueFrom:
            configMapKeyRef:
              key: rmqPort
              name: monitor-env
        - name: rmqPswrd
          valueFrom:
            configMapKeyRef:
              key: rmqPswrd
              name: monitor-env
        - name: rmqQueue
          valueFrom:
            configMapKeyRef:
              key: rmqQueue
              name: monitor-env
        - name: rmqUname
          valueFrom:
            configMapKeyRef:
              key: rmqUname
              name: monitor-env
        - name: rmqVhost
          valueFrom:
            configMapKeyRef:
              key: rmqVhost
              name: monitor-env
{% if REGISTRY_PATH is defined %}
        image: {{ REGISTRY_PATH }}/monitor-service
{% else %}
        image: monitor-service
        imagePullPolicy: Never
{% endif %}
