apiVersion: v1
data:
  rmqHost: {{ RMQ_HOST }}
  rmqPort: "{{ RMQ_PORT }}"
  rmqPswrd: {{ RMQ_PASSWORD }}
  rmqQueue: {{ RMQ_QUEUE }}
  rmqUname: {{ RMQ_USERNAME }}
  rmqVhost: {{ RMQ_VHOST }}
kind: ConfigMap
metadata:
  name: monitor-env
