apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: path
  name: path-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: path
  template:
    metadata:
      labels:
        service: path
    spec:
      containers:
      - name: path-service
        env:
        - name: ihost
          valueFrom:
            configMapKeyRef:
              key: ihost
              name: path-env
        - name: iport
          valueFrom:
            configMapKeyRef:
              key: iport
              name: path-env
        - name: ipw
          valueFrom:
            configMapKeyRef:
              key: ipw
              name: path-env
        - name: iuser
          valueFrom:
            configMapKeyRef:
              key: iuser
              name: path-env
        - name: izone
          valueFrom:
            configMapKeyRef:
              key: izone
              name: path-env
{% if REGISTRY_PATH is defined %}
        image: {{ REGISTRY_PATH }}/path-service
{% else %}
        image: path-service
        imagePullPolicy: Never
{% endif %}
