apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: perm
  name: perm-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: perm
  template:
    metadata:
      labels:
        service: perm
    spec:
      containers:
      - name: perm-service
        env:
        - name: ihost
          valueFrom:
            configMapKeyRef:
              key: ihost
              name: perm-env
        - name: iport
          valueFrom:
            configMapKeyRef:
              key: iport
              name: perm-env
        - name: ipw
          valueFrom:
            configMapKeyRef:
              key: ipw
              name: perm-env
        - name: iuser
          valueFrom:
            configMapKeyRef:
              key: iuser
              name: perm-env
        - name: izone
          valueFrom:
            configMapKeyRef:
              key: izone
              name: perm-env
{% if REGISTRY_PATH is defined %}
        image: {{ REGISTRY_PATH }}/perm-service
{% else %}
        image: perm-service
        imagePullPolicy: Never
{% endif %}
