apiVersion: v1
data:
  ihost: {{ IRODS_HOST }}
  iport: "{{ IRODS_PORT }}"
  ipw: {{ IRODS_PASSWORD }}
  iuser: {{ IRODS_USERNAME }}
  izone: {{ IRODS_ZONE }}
kind: ConfigMap
metadata:
  name: perm-env
