apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: webdav
  name: webdav-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: webdav
  template:
    metadata:
      labels:
        service: webdav
    spec:
      containers:
      - name: webdav-service
{% if REGISTRY_PATH is defined %}
        image: {{ REGISTRY_PATH }}/webdav-service
{% else %}
        image: webdav-service
        imagePullPolicy: Never
{% endif %}
