apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: webhook
  name: webhook-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: webhook
  template:
    metadata:
      labels:
        service: webhook
    spec:
      containers:
      - name: webhook-service
{% if REGISTRY_PATH is defined %}
        image: {{ REGISTRY_PATH }}/webhook-service
{% else %}
        image: webhook-service
        imagePullPolicy: Never
{% endif %}
